# https://docs.npmjs.com/cli/v9/using-npm/config#config-settings
# https://docs.npmjs.com/cli/v9/using-npm/config#environment-variables

package-lock=false
save-exact=true
git-tag-version=false
engine-strict=true
